* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-clr: white;
  --black-clr: #000000;
  --sky-blue-clr: #4b9ad5;
  --dark-blue-clr: #3a5cac;
  --light-blue-clr: #4175bd;
  --deault-container-width: 91%;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black-clr);
}
p {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.default_black {
  background-color: var(--black-clr) !important;
}

/* ===================== container ================== */
.container {
  max-width: var(--deault-container-width) !important;
}

.cursor {
  cursor: pointer !important;
}

/* ===================== flex classes ========= */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_SB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex_end {
  display: flex;
  justify-content: end;
  align-items: center;
}
.section {
  box-shadow: none !important;
}
.top_nav {
  min-height: 44px !important;
  background-color: var(--black-clr);
}

.navbar {
  box-shadow: none !important;
  background-color: var(--white-clr) !important;
}
.navbar .nav_link {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
