* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none !important;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--black-clr);
}

img {
    max-width: 100%;
    height: 100%;
}

.common_margin {
    margin-bottom: 86px;
}

.custom_categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
}
